@model IEnumerable<GestaoEmpresaMVC.Models.Employee>

@{
    ViewData["Title"] = "Lista de Funcionários";
}
<hr />
<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Adicionar Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.ActionLink("Sexo", "Index", new { sortOrder = ViewBag.GenderSortParm })
                @*@Html.DisplayNameFor(model => model.Gender)*@
            </th>
            <th>
                @Html.ActionLink("Departamento", "Index", new { sortOrder = ViewBag.DepartmentSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.ProfilePicture" class="rounded-circle" height="50" width="50" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
