@model IEnumerable<GestaoEmpresaMVC.Models.Employee>

@{
    ViewData["Title"] = "Lista de Funcionários";
}
<hr />
<h1>@ViewData["Title"]</h1>

<div class="row" style="padding-bottom:10px">
    <div class="col-md-6">
        <a class="btn btn-info" asp-action="Create">Adicionar Funcionário</a>
    </div>
    <div class="col-md-6">
        <form class="form-inline">

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Pesquisar Nome, Cargo..." })
                </div>

                <input class="btn btn-secondary" type="submit" value="Pesquisar" />                
            }
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.ActionLink("Sexo", "Index", new { sortOrder = ViewBag.GenderSortParm })
            </th>
            <th>
                @Html.ActionLink("Departamento", "Index", new { sortOrder = ViewBag.DepartmentSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <img src="~/images/@item.ProfilePicture" class="rounded-circle" height="50" width="50" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
