@model GestaoEmpresaMVC.Models.Sale

@{
    Layout = null;
    ViewData["Title"] = "Detalhes da Venda";
}
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Detalhes da Venda</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">



            <div class="row">
                <div class="col-md-6">
                    <h5>Informações da Venda</h5>

                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.SaleTime)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.SaleTime)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Employe)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Employe.FirstName)
                            @Html.DisplayFor(model => model.Employe.LastName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Product)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Product.ProductName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Product.ProductPrice)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Product.ProductPrice)
                        </dd>
                        
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.TotalAmount)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h5>Informações do Cliente</h5>
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Client.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Client.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Client.Cpf)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Client.Cpf)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Client.Phone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Client.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Client.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Client.Email)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Client.City) /
                            @Html.DisplayNameFor(model => model.Client.State)

                        </dt>
                        <dd class="col-sm-5">
                            @Html.DisplayFor(model => model.Client.City) /
                            @Html.DisplayFor(model => model.Client.State)
                        </dd>
                        <dt class="col-sm-2">
                        </dt>
                        <dd class="col-sm-10">

                        </dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
