@model IEnumerable<GestaoEmpresaMVC.Models.Sale>

@{
    ViewData["Title"] = "Cadastrar Venda";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Gerar Venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.TypeProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employe.FirstName)
                @Html.DisplayFor(modelItem => item.Employe.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> @*|*@
                @*<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
